@model IEnumerable<DemoWE.Models.Department>

@{
    Layout = "_LayAdmin";

    ViewData["Title"] = "Index";
}
<style>
    .btn {
        background-color: #D8D8D8;
        border: none;
        color: black;
        padding: 12px 12px;
        text-align: center;
        font-size: 11px;
        margin: 1px 1px;
        opacity: 0.6;
        transition: 0.3s;
        width: 100px;
    }

        .btn:hover {
            opacity: 1
        }
</style>
<head>


    <link rel="stylesheet" href="/css/table.css" />


</head>
<h1>Manage Department</h1>


<table >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentManagerID)
            </th>
            <th> <a id="createButton" class="btn" style="font-size: 15px;" asp-action="Create">Create New</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentManagerID)
            </td>
            <td>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Option</button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.DepartmentID">Edit</a>
                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.DepartmentID">Details</a>
                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.DepartmentID">Delete</a>
                            </div>

                        </div>

                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
